<div class='header'>
  <h1> Begin Your Search</h1>
</div>

<div class='homepage-container'>
  <form>
    <input type='text' name='term' placeholder='Type in something to search' [(ngModel)]='term'>
    <button class='btn' (click)='search()'> Search</button>
  </form>
  <br/>
  <div class='contacts-container' *ngFor="let contact of contactsMatch">
      <h3>{{ contact.name }}</h3>
      <ul>
        <li>{{ contact.address }}</li>
        <li>{{ contact.mobile }}</li>
        <li>{{ contact.email }}</li>
      </ul>
    </div>
</div>